<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tray_minimizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tray_minimizer.Properties.Settings>
            <setting name="ShowMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Showkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HideMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hidekey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IgnoreTitle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideactMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hideactkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Showbaloontip" serializeAs="String">
                <value>True</value>
            </setting>
        </Tray_minimizer.Properties.Settings>
    </userSettings>
</configuration>